.container{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 30px;
}
.employee{
  width:120px;
}
.em-img{
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}
.em-img img{
  border-radius: 10px;
}
.employee-info,h2{
  margin: 20px 10px ;
}
